.ChatSideBar{
    display: flex;
    flex-direction: column;
    flex: 0.30;
    overflow-y: auto;
}
.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border-right: 1px solid rgba(255, 255, 255, 0.822);
}
.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 39px;
    padding: 10px;
}
.searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.searchContainer>input{
    border: none;
    margin-left: 10px;
}
.sidebar__chat{
    flex: 1;
    background-color: white;
    overflow: scroll;
}