 .chat{
    flex: 0.70;
   display: flex;
   flex-direction: column;
} 
 .chat__header{
    padding-top: 3px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
  
    
} 
 .chat__info{
    flex: 1;
    padding-left: 20px;
    
} 
.chat__info>h4{
    font-size: 18px;
    margin-bottom: 3px;
    
}
.chat__headerRight {
    display: flex;
    justify-content: space-between;
   min-width: 10px;
}
.chat_bodys{
    flex: 1;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png");
padding: 20px;
}
.chat__message{
    position: relative;
    font-size: 16;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
}
.chat__name{
    position: absolute;
    top: 0px;
    font-weight: 800;
    font-size: xx-small;

}
.timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat__reciever {
    margin-left: auto;
    background-color: yellowgreen;
}