.event__info{
    padding: 20px;
}
.event__info>p{
    margin-bottom: 10px;
    font-size: 14px;
}
.event__info>h1{
    margin-bottom: 30px;

}
.event__info>button{
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}
.header{
    display: flex;
    flex-direction: row;
}