.event__info{
    padding: 20px;
}
.event__info>p{
    margin-bottom: 10px;
    font-size: 14px;
}
.event__info>h1{
    margin-bottom: 30px;

}
.event__info>button{
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}
.headers{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75 );
  
    
}